

<table id="board" align="left" class="board" cellspacing="6">
  <tbody>
    <tr>
        <td id="c0"></td>
        <td id="c1"></td>
        <td id="c2"></td>
    </tr>
    <tr>
      <td id="c3"></td>
      <td id="c4"></td>
      <td id="c5"></td>
    </tr>
    <tr>
      <td id="c6"></td>
      <td id="c7"></td>
      <td id="c8"></td>
    </tr>
  </tbody>
</table>

<div class="begin">Click on any square to begin</div>
<div class="gameover">Game over!</div>
<div class="reset">
<div class="winner"></div>
<a href="/">Reset!</a>
</div>
